
<form name="editForm" role="form" novalidate ng-submit="vm.save()"show-validation>

    <div class="modal-header">
        <h5 class="modal-title" id="myTransmissionLabel">Transmission du courrier</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
    </div>


    <div class="modal-body">

        <div class="alert alert-danger" ng-show="vm.showErrorAlert">
            <p>{{vm.errorMessage}}</p>
        </div>

        <div class="spacer">

            <div class="form-group row">
                <label for="rattachementr" class="col-sm-4 col-form-label">Transmettre à</label>

                <div class="col-sm-8">
                    <select  id="rattachementr" ng-model="vm.etape.structureId"
                             ng-options="structure.id as structure.name for structure in vm.structures" class="form-control">
                        <option value="">-- choose a structure --</option>
                    </select>
                </div>
            </div>

            <div class="form-group row spacer">
                <label for="instructions" class="col-sm-4 col-form-label">Instructions</label>
                <div class="col-sm-8">
                    <textarea class="form-control" ng-model="vm.etape.instructions"></textarea>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="!vm.etape.courrierId || !vm.etape.structureId || vm.isSaving"
                class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
