
<form name="editForm" role="form" novalidate ng-submit="vm.save()"show-validation>

    <div class="modal-header">
        <h5 class="modal-title" id="myReceptionLabel">Etapes du courrier</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
    </div>


    <div class="modal-body">

        <div class="">
            <table class="table table-condensed spacer">
                <tr>
                    <th>Type</th>
                    <th>Reference</th>
                    <th>Objet</th>
                    <th>Transmis par</th>
                    <th>Date transmission</th>
                    <th>Transmis à / Recu par</th>
                    <th>Date reception</th>
                    <th>Concernés</th>
                    <th>Instructions</th>
                </tr>
                <tr ng-repeat="etape in vm.etapes track by $index">

                    <td>
                        <span class="" ng-if="etape.transmisParId && !etape.recuParId">Transmission</span>
                        <span class="" ng-if="etape.recuParId">Reception</span>
                        <span class="" ng-if="etape.enregistreParId">Creation</span>
                    </td>

                    <td>
                        <span class="">{{etape.courrier.refCourrier}}</span>
                    </td>

                    <td>
                        <span class="">{{etape.courrier.objet}}</span>
                    </td>

                    <td>
                        <span class="" ng-if="etape.transmisParId || etape.enregistreParId">{{etape.transmisPar || etape.enregistrePar }} [{{etape.transmisParStructureSigle || etape.enregistreParStructureSigle}}]</span>
                    </td>

                    <td>
                        <span class="" ng-if="etape.transmisParId || etape.enregistreParId">{{etape.transmisParDate}}</span>
                    </td>

                    <td>
                        <span class="" ng-if="etape.transmisParId && !etape.recuParId">{{etape.structureSigle}}</span>
                        <span class="" ng-if="etape.recuParId">{{etape.recuPar }} [{{etape.recuParStructureSigle}}]</span>
                    </td>

                    <td>
                        <span class="" ng-if="etape.recuParId">{{etape.createdDate}}</span>
                    </td>

                    <td>
                        <span class="">{{etape.courrier.concernes}}</span>
                    </td>
                    <td>
                        <span class="">{{etape.instructions}}</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.close">Close</span>
        </button>
    </div>
</form>
