
<style rel="stylesheet" type="text/css" media="screen">

a.button1{
display:inline-block;
padding:0.35em 1.2em;
border:0.1em solid #060606;
margin:0 0.3em 0.3em 0;

box-sizing: border-box;
text-decoration:black;
font-family:'Roboto',sans-serif;
font-weight:350;
color:#060606;
text-align:left;
transition: all 0.2s;
border-radius: 5%;
}
a.button1:hover{
color:#000000;
background-color:#90F8CF;
}
@media all and (max-width:30em){
a.button1{
display:block;
margin:0.4em auto;
}
}

</style>
<marquee behavior="alternate"><h1><FONT color="red + white"> DRFP-MINSANTE:SYSTEME DE GESTION DU COURRIER</FONT></h1></marquee>

<div class="container">

    <div class="">
        <div class="card mt-4">
            <div class="card-header">
                <span>
                   Parcours du courrier
                </span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="numCourrier" class="col-form-label">Numéro du courrier [Mail Code]</label>
                        <div class="">
                            <input type="text" name="numCourrier" id="numCourrier" class="form-control"
                                   ng-model="vm.numCourrier"
                                   size="30" maxlength="10" />
                        </div>
                    </div>

                    <div class="form-group col-sm-6">
                        <label for="referencecourier" class="col-form-label">Reférence [Reference]</label>
                        <div class="">
                            <input type="text" name="referencecourier" id="referencecourier" class="form-control"
                                   ng-model="vm.refCourrier"
                                   placeholder="Ex : REF012011" size="40" maxlength="50"  />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="objetcourier" class="col-form-label">Objet [Purpose]</label>
                        <div class="">
                            <input type="text" name="objetcourier" id="objetcourier" class="form-control"
                                   ng-model="vm.objet"
                                   size="30" maxlength="10" />
                        </div>
                    </div>

                    <div class="form-group col-sm-6">
                        <label for="concernes" class="col-form-label">Concernés [Concerned]</label>
                        <div class="">
                            <input type="text" name="concernes" id="concernes" class="form-control"
                                   ng-model="vm.concernes"
                                   size="30"/>
                        </div>
                    </div>
                </div>

                <br>
                <center>
                    <a href="" ui-sref="home" class="btn btn-default btn-light">Fermer[Close]</a>
                    <button href="" ng-click="vm.search()" class="btn btn-primary button1"
                        ng-disabled="!vm.numCourrier.length && !vm.refCourrier.length && !vm.objet.length && !vm.concernes.length">Rechercher</button>
                </center>
            </div>
        </div>
    </div>

    <div class="mx-auto">
        <div class="card mt-4">
            <div class="card-header">
                Liste des courriers
            </div>
            <div class="card-body">
                <table class="table table-condensed spacer">
                    <tr>
                        <th></th>
                        <th>Reference</th>
                        <th>Numero</th>
                        <th>Initiateur / provenance</th>
                        <th>Objet</th>
                        <th>Nature</th>
                        <th>Date d'envoi [Sending Date]</th>
                        <th>Date de reception [Receiving Date]</th>
                        <th>Concernés [Concerned]</th>
                        <th class="text-right"></th>
                    </tr>
                    <tr ng-repeat="courrier in vm.courriers track by $index" class="clickable"
                        ng-click="vm.onClickCourrier(courrier)"
                        ng-class="{'table-active' : vm.courrier.id === courrier.id}">
                        <td>
                            <span class="">{{ $index + 1}}</span>
                        </td>

                        <td>
                            <span class="">{{courrier.refCourrier}}</span>
                        </td>

                        <td>
                            <span class="">{{courrier.id}}</span>
                        </td>

                        <td>
                            <span class="">{{courrier.initiateur}}</span>
                        </td>
                        <td>
                            <span class="">{{courrier.objet}}</span>
                        </td>
                        <td>
                            <span class="">{{courrier.natureCourrier}}</span>
                        </td>
                        <td>
                            <span class="">{{courrier.dateEnvoi}}</span>
                        </td>
                        <td>
                            <span class="">{{courrier.dateReception}}</span>
                        </td>
                        <td>
                            <span class="">{{courrier.concernes}}</span>
                        </td>

                        <td class="text-right">
                        <span class="text-nowrap">
                        <a ui-sref="parcours.etapes({courrierId:courrier.id})" class="btn btn-light btn-sm">
                            <span>
                               <span>Voir le parcours</span>
                            </span>
                        </a>
                    </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>