
<style rel="stylesheet" type="text/css" media="screen">

a.button1{
display:inline-block;
padding:0.35em 1.2em;
border:0.1em solid #060606;
margin:0 0.3em 0.3em 0;

box-sizing: border-box;
text-decoration:black;
font-family:'Roboto',sans-serif;
font-weight:350;
color:#060606;
text-align:left;
transition: all 0.2s;
border-radius: 5%;
}
a.button1:hover{
color:#000000;
background-color:#90F8CF;
}
@media all and (max-width:30em){
a.button1{
display:block;
margin:0.4em auto;
}
}


</style>

<div class="container">
    <div class="card mt-5 mx-auto">
        <div class="card-header">
            Connectez vous à votre compte
        </div>
        <div class="card-body">

            <div>
                <div class="form-group row">
                    <label for="username" class="col-sm-4 col-form-label">Nom de l'utilisateur [User Name]</label>
                    <div class="col-sm-8">
                        <input type="text" name="username" id="username" placeholder="Ex : Admin" size="30" maxlength="10"
                               required class="form-control"
                               ng-model="vm.credentials.username">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="passw" class="col-sm-4 col-form-label">Mot de passe [Pass word]</label>
                    <div class="col-sm-8">
                        <input type="password" name="passw" id="passw" class="form-control"
                               required
                               ng-model="vm.credentials.password">
                    </div>
                </div>


                <br>
                <center>
                    <a href="" class="button1" ng-click="vm.login()">Connexion/LogIn</a>
                </center>
            </div>

        </div>
    </div>

</div>
