
<style rel="stylesheet" type="text/css" media="screen">

a.button1{
display:inline-block;
padding:0.35em 1.2em;
border:0.1em solid #060606;
margin:0 0.3em 0.3em 0;

box-sizing: border-box;
text-decoration:black;
font-family:'Roboto',sans-serif;
font-weight:350;
color:#060606;
text-align:left;
transition: all 0.2s;
border-radius: 5%;
}
a.button1:hover{
color:#000000;
background-color:#90F8CF;
}
@media all and (max-width:30em){
a.button1{
display:block;
margin:0.4em auto;
}
}

</style>


<marquee behavior="alternate"><h1><FONT color="red + white"> DRFP-MINSANTE:SYSTEME DE GESTION DU COURRIER  </FONT></h1></marquee>

<div class="container">
    <div class="card mt-4">
        <div class="card-header">
            Informations sur la structure
        </div>
        <div class="card-body">
            <div>
                <div class="form-group row">
                    <label for="nomstructure" class="col-sm-4 col-form-label">* Nom de la Structure [Name]</label>
                    <div class="col-sm-8">
                        <input type="text" name="nomstructure" id="nomstructure" class="form-control"
                               ng-model="vm.structure.name"
                               placeholder="Ex : DIRECTION DES RESSOURCES FINANCIERES ET DU PATRIMOINE" size="40" maxlength="50"  />
                    </div>
                </div>

                <div class="form-group row">
                    <label for="siglestructure" class="col-sm-4 col-form-label">* Sigle de la structure [ACRONYM]</label>
                    <div class="col-sm-8">
                        <input type="text" name="siglestructure" id="siglestructure" class="form-control"
                               ng-model="vm.structure.sigle"
                               placeholder="Ex : DRFP" size="10" maxlength="10"   />
                    </div>
                </div>

                <div class="form-group row">
                    <label for="rattachementr" class="col-sm-4 col-form-label">* Structure de rattachement [ATTACHMENT]</label>

                    <div class="col-sm-8">
                        <select  id="rattachementr" ng-model="vm.structure.parentId"
                                 ng-options="structure.id as structure.name for structure in vm.structures" class="form-control">
                            <option value="">-- choose a structure --</option>
                        </select>
                    </div>
                </div>


                <br>
                <center>
                    <a href="" ng-click="vm.save()" class="button1">Enregistrer[Save]</a>
                    <a href="" ui-sref="home" class="button1">Fermer[Close]</a>
                </center>
            </div>

        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            Liste des structures
        </div>
        <div class="card-body">
            <table class="table table-condensed spacer">
                <tr>
                    <th></th>
                    <th>Nom</th>
                    <th>Sigle</th>
                    <th>Structure de rattachement</th>
                    <th class="text-right"></th>
                </tr>
                <tr ng-repeat="structure in vm.structures track by $index" class="clickable"
                    ng-click="vm.onClickStructure(structure)"
                    ng-class="{'table-active' : vm.structure.id == structure.id}">
                    <td>
                        <span class="">{{ $index + 1}}</span>
                    </td>

                    <td>
                        <span class="">{{structure.name}}</span>
                    </td>

                    <td>
                        <span class="">{{structure.sigle}}</span>
                    </td>

                    <td>
                        <span class="">{{structure.parent}}</span>
                    </td>

                    <td class="text-right">
                    <span class="text-nowrap">
                        <!--<a ui-sref="structure.edit({structureId:structure.id})" class="btn btn-sm btn-primary"><span>
                             <span>Editer</span>
                        </span></a>
                        <span> &nbsp;</span>-->
                        <a ui-sref="structure.delete({structureId:structure.id})" class="btn btn-danger btn-sm" ng-if="auth.hasRole('ADMIN')">
                            <span>
                               <span>Supprimer</span>
                            </span>
                        </a>
                    </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>


</div>
