
<form name="editForm" role="form" novalidate ng-submit="vm.save()"show-validation>

    <div class="modal-header">
        <h5 class="modal-title" id="myReceptionLabel">Reception du courrier</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
    </div>


    <div class="modal-body">

        <div class="alert alert-danger" ng-show="vm.showErrorAlert">
            <p>{{vm.errorMessage}}</p>
        </div>

        <div class="spacer">

            <p>Êtes vous sûr de vouloir receptionner ce courrier ?</p>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="!vm.etape.courrierId || !vm.etape.structureId || vm.isSaving"
                class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Valider</span>
        </button>
    </div>
</form>
