
<style rel="stylesheet" type="text/css" media="screen">

fieldset {
        float: left;
        margin-top: 40px;
        display: inline-block;
        vertical-align: top;
        height: 600px;
        width: 380px;
        text-align: left;
        overflow: hidden;
        border: 8px solid rgb(201, 76, 76);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px 0px, rgba(0, 0, 0, 0.15) 0px 4px 15px 0px;
}

a.button1{
display:inline-block;
padding:0.35em 1.2em;
border:0.1em solid #060606;
margin:0 0.3em 0.3em 0;

box-sizing: border-box;
text-decoration:black;
font-family:'Roboto',sans-serif;
font-weight:350;
color:#060606;
text-align:left;
transition: all 0.2s;
border-radius: 5%;
}
a.list-group-item:hover{
color:#000000;
background-color:#90F8CF;
}
@media all and (max-width:30em){
a.list-group-item{
display:block;
margin:0.4em auto;
}
}

.list-group-item {
    position: relative;
    display: block;
    padding: 1.25rem 1.25rem;
}

</style>


<!--<div  style="height: 600px;" ng-style="{'background-image':'url(/images/images-triangle1.jpg)' , 'background-position': 'center center', 'background-size': 'cover'}">-->

<marquee behavior="alternate"><h1><FONT color="red + white"> DRFP-MINSANTE:SYSTEME DE GESTION DU COURRIER</FONT></h1></marquee>

<div class="container-fluid">
    <div class="mt-5 col-md-4">
        <div class="list-group text-uppercase" id="list-tab" role="tablist">


            <a href="" ui-sref="courrier" class="list-group-item list-group-item-action ">Nouveau courrier</a>
            <a href="" ui-sref="reception" class="list-group-item list-group-item-action ">Reception du courrier</a>
            <a href="" ui-sref="transmission" class="list-group-item list-group-item-action ">Transmission du courrier</a>
            <a href="traitement.html" class="list-group-item list-group-item-action ">Traitement du courrier</a>
            <a href="" ui-sref="parcours" class="list-group-item list-group-item-action ">Parcours du courrier</a>
            <a href="archive.html" class="list-group-item list-group-item-action ">Archiver les documents</a>
            <a href="parametre.html" class="list-group-item list-group-item-action " ng-if="auth.hasRole('ADMIN')">Changer les paramètres de connexion</a>
            <a href="" ui-sref="structure" class="list-group-item list-group-item-action " ng-if="auth.hasRole('ADMIN')">Organigramme</a>
            <a href="" ui-sref="user" class="list-group-item list-group-item-action " ng-if="auth.hasRole('ADMIN')">Gestion des utilisateurs</a>
            <a href="" class="list-group-item list-group-item-action " ng-click="auth.logout()">Quitter/Exit</a>
        </div>
    </div>

</div>
